@media only screen and (min-width: 1025px) and (max-width: 1300px) {
  .main_nav_list {
    max-width: 96%;
    margin: 0 auto;
  }

  .main_nav_list .left li {
    padding: 30px 0 0 0;
  }

  .main_nav_list .middle {
    margin: 0 0 0 11.12%;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  .lang_switcher {
    padding-bottom: 20px;
  }

  .main_nav_list ul {
    padding-top: 20px;
  }

  .main_nav_inner h3, .main_nav_inner h3 a,
  .main_nav_list .left li a {
    font-size: 24px;
  }
}
@media only screen and (max-width: 1600px) {
  body.the_studios2_page .full_screen .td {
    vertical-align: middle;
  }
  body.the_studios2_page .full_screen .td .home_screen, body.the_studios2_page .press_center_page .td_bottom .home_screen {
    padding-bottom: 0;
  }
  body.the_studios2_page .home_screen h2 {
    padding-top: 0;
  }
  body.the_studios2_page .ss_cols {
    padding: 0;
  }
  body.the_studios2_page .ss_cols li .desktop_br {
    display: none;
  }
}
@media only screen and (max-width: 1024px) {
  .red_header .menu_btn {
    top: 28px;
    position: absolute;
    background-image: url(../images/menu_btn_red.png);
  }
  .red_header .logo {
    position: absolute;
    top: 23px;
    left: 20px;
  }

  .main_nav_list .left ul ul {
    margin-bottom: 0;
  }
  .main_nav_list .left ul ul li:last-child {
    border: none;
  }

  .main_nav_list .left ul .active.has-submenu {
    border: none;
  }

  .mobile_more,
  .mobile_more .title {
    display: block;
  }
  .mobile_more br,
  .mobile_more .title br {
    display: none;
  }

  .mobile_more {
    padding-top: 24px;
  }

  .map_btn {
    margin-top: 5px;
  }

  .foot_share [class^="icon-"], .foot_share [class*=" icon-"] {
    font-size: 18px;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .back_top .back_top_bg {
    background: url(../images/back_top.png) no-repeat 50% 50%;
    background-size: 9px auto;
  }

  body .foot_share a {
    width: 35px;
    height: 35px;
    margin-left: 6px;
    margin-right: 0;
  }

  .mobile_back_top, a.mobile_back_top {
    width: 35px;
    height: 35px;
  }

  .mobile_foot_widgets h3 {
    font-size: 20px;
  }

  .mobile_foot_widgets .txt {
    opacity: .5;
  }

  .mobile_foot_widget:first-child {
    display: block;
  }

  .copyright span, .copyright a {
    opacity: 0.5;
  }

  .main_nav_list .left,
  .main_nav_list .right,
  .main_nav_list .middle {
    width: 100%;
    float: none;
    margin: 0 auto;
  }

  .main_nav_list .left li,
  .main_nav_list ul {
    padding-top: 0;
  }

  .main_nav_inner {
    overflow-y: scroll;
  }

  .main_nav_header {
    z-index: 300;
  }

  .lang_switcher {
    padding: 35px 0;
  }

  .main_nav_list ul li a {
    padding-left: 0;
  }

  .main_nav_list ul li a [class^="icon-"], .main_nav_list ul li a [class*=" icon-"] {
    display: none;
  }

  .main_nav_list:before {
    display: none;
  }

  .main_nav_list ul li,
  .main_nav_list .left li {
    position: relative;
    border-bottom: 1px solid #d3d3d3;
    margin: 0 20px;
    padding: 0;
  }
  .main_nav_list ul li:first-child,
  .main_nav_list .left li:first-child {
    border-top: 1px solid #d3d3d3;
  }

  .main_nav_list .left li.has-submenu li:first-child {
    border-top: none;
  }

  .main_nav_list .left li a,
  .main_nav_inner h3,
  .main_nav_list ul li a,
  .main_nav_inner h3 a {
    display: block;
    padding: 4px 0;
    font-size: 18px;
    font-family: 'avenir_lt_55_romanheavy';
  }

  .search_form {
    padding: 0;
    background: #e6e6e6;
  }

  .main_nav_inner {
    padding-top: 58px;
  }

  .search_form input[type="text"] {
    border-bottom: none;
    padding: 1px 20px;
    line-height: 42px;
    font-size: 18px;
  }

  .search_form .icon-60 {
    font-size: 18px;
    top: 13px;
    right: 24px;
  }

  .main_nav_list {
    margin: 0;
    padding-top: 17px;
  }

  .main_nav_inner {
    padding-top: 60px;
  }

  .main_nav_header {
    height: 60px;
  }

  .main_nav_list .left li.has-submenu span.menu-expand {
    position: absolute;
    top: 21px;
    right: 4px;
    z-index: 100;
    width: 13px;
    height: 7px;
    background-size: cover;
  }

  .main_nav_logo {
    width: 36px;
  }

  .main_nav_logo {
    top: 12px;
  }

  .main_nav_close .icon-59 {
    font-size: 24px;
  }

  .main_nav_close {
    top: 19px;
    right: 20px;
  }

  .main_nav_inner h3 {
    margin: 0 20px;
  }

  .about_qd .text {
    font-size: 22px;
  }

  .about_col {
    width: 100%;
    float: none;
  }

  .about_cols {
    padding-top: 20px;
  }

  .about_cols h3 {
    font-size: 30px;
    padding-bottom: 20px;
  }

  .about_cols ul li {
    font-size: 22px;
    line-height: 24px;
  }

  .about_cols ul {
    margin-bottom: 20px;
  }

  .header.mobile_header {
    background: #fff;
    position: fixed;
  }
  .header.mobile_header .menu_btn {
    background-image: url(../images/menu_btn_red.png);
  }

  .surroundings {
    height: auto;
  }
  .surroundings h2 {
    font-size: 48px;
    line-height: 50px;
  }
  .surroundings .btns {
    padding-top: 40px;
  }
  .surroundings .btns a {
    display: block;
    max-width: 80%;
    margin: 20px auto;
  }
  .surroundings .text {
    padding-top: 60px;
    height: auto;
    padding-bottom: 30px;
  }

  .historical_bg {
    padding-top: 60px;
  }
  .historical_bg h2 {
    font-size: 36px;
    line-height: 40px;
  }
  .historical_bg .hbg_slider {
    padding: 0 20px;
    font-size: 22px;
    line-height: 26px;
  }

  .seasons_climate {
    font-size: 22px;
    line-height: 24px;
    padding: 60px 20px 50px 20px;
  }
  .seasons_climate h2 {
    font-size: 48px;
    line-height: 50px;
  }
  .seasons_climate .text,
  .seasons_climate .img {
    float: none;
    width: 100%;
    margin: 0;
  }
  .seasons_climate .img {
    margin-top: 30px;
  }

  .travel_times {
    height: auto;
  }
  .travel_times h2 {
    font-size: 36px;
    line-height: 38px;
  }

  .travel_cols {
    position: relative;
    margin: 0 20px;
    padding: 20px;
    left: 0;
    width: auto;
    border-radius: 15px 15px 0 0;
  }

  .travel_col {
    width: 100%;
    float: none;
    font-size: 22px;
  }

  .lifestyle_destination {
    height: auto;
    padding: 60px 20px 40px;
  }
  .lifestyle_destination h2 {
    font-size: 48px;
    line-height: 50px;
  }

  .button_boxes .arr {
    color: #fff;
  }
  .button_boxes .arr span.icon-9,
  .button_boxes .arr span.icon-11 {
    display: none;
  }

  .hover_btn:before, a.hover_btn:before, a.hover_btn.active:before {
    -webkit-transform: rotate3d(0, 0, 1, -66deg) translate3d(0, -3em, 0);
    transform: rotate3d(0, 0, 1, -66deg) translate3d(0, -3em, 0);
  }

  .view_video {
    display: none;
  }

  /* Studios page */
  body.the_studios2_page .map_btn {
    display: none;
  }
  body.the_studios2_page .chairman_dream .slider_btns {
    display: none;
  }
  body.the_studios2_page .flex-direction-nav {
    position: static;
  }
  body.the_studios2_page .flex-direction-nav a.flex-next,
  body.the_studios2_page .flex-direction-nav a.flex-prev {
    width: 17px;
    height: 34px;
    top: 50%;
    margin: 0;
    bottom: auto;
  }
  body.the_studios2_page .flex-direction-nav a.flex-next {
    background: url("../images/mobile/studio-arrow-right.png") no-repeat;
    right: -20px;
    left: auto;
  }
  body.the_studios2_page .flex-direction-nav a.flex-prev {
    background: url("../images/mobile/studio-arrow-left.png") no-repeat;
    left: -20px;
    right: auto;
  }

  .ss_cols {
    margin-top: 40px;
  }

  .our_team_list h2 {
    padding: 40px 0 22px;
  }

  .film_with_us h3 [class^="icon-"], .film_with_us h3 [class*=" icon-"] {
    font-size: 39px;
    padding: 0;
  }

  .film_with_us h3 {
    padding: 0 0 0 50px;
  }

  html, body {
    height: auto;
    min-height: 100%;
  }

  body.red_header_fixed .tabs {
    padding-top: 80px;
  }

  /* Tab nav */
  .tab_nav ul {
    margin: 18px 0 0;
    background: #fff;
    padding-top: 45px;
  }
  .tab_nav ul li {
    display: none;
    padding: 10px 0;
    position: relative;
  }
  .tab_nav ul li.active {
    display: block;
    position: absolute;
    top: 17px;
    left: 0;
    right: 0;
  }
  .tab_nav ul li.active a {
    position: relative;
  }
  .tab_nav ul li.active a:after {
    display: block;
    content: '';
    color: #ccc;
    width: 11px;
    height: 22px;
    position: absolute;
    background: url("../images/sub-menu-arr.png");
    background-position: 0 -28px;
    margin-top: -10px;
    top: 50%;
    right: -20px;
    transform: rotate(90deg);
  }
  .tab_nav ul li.active:after {
    display: none;
  }
  .tab_nav.open li {
    display: block;
  }

  /* Group */
  .fl_specs .img h2, .block_box_title_wrapper h2.block_box_title {
    font-size: 48px;
    line-height: 52px;
  }
}
@media only screen and (max-width: 992px) {
  .ss_cols {
    max-width: 80%;
  }
}
@media only screen and (max-width: 640px) {
  .main_nav_logo {
    left: 20px;
    top: 14px;
    max-width: 32px;
  }

  .main_nav_close {
    right: 20px;
    top: 18px;
  }

  .main_nav_header {
    height: 58px;
  }

  .main_nav_close .icon-59 {
    font-size: 20px;
  }

  .search_form input[type="text"] {
    border-bottom: none;
    padding: 1px 20px;
    line-height: 41px;
    font-size: 12px;
  }

  .search_form .icon-60 {
    font-size: 16px;
    top: 13px;
    right: 24px;
  }

  .main_nav_list ul li,
  .main_nav_list .left li {
    position: relative;
    border-bottom: 1px solid #d3d3d3;
    margin: 0 20px;
    padding: 0;
  }
  .main_nav_list ul li:first-child,
  .main_nav_list .left li:first-child {
    border-top: 1px solid #d3d3d3;
  }

  .main_nav_list .left li a,
  .main_nav_inner h3,
  .main_nav_list ul li a,
  .main_nav_inner h3 a {
    display: block;
    padding: 4px 0;
    font-size: 12px;
    font-family: 'avenir_lt_55_romanheavy';
  }

  .main_nav_list .left ul ul li a {
    font-size: 12px;
  }

  .main_nav_list .left li.has-submenu span.menu-expand {
    top: 21px;
    right: 4px;
    width: 13px;
    height: 7px;
    background-size: 100%;
  }

  .lang_switcher {
    padding: 25px 0;
  }

  .lang_switcher, .lang_switcher a {
    font-size: 10px;
  }

  /**/
  .about_qd .text {
    font-size: 12px;
    line-height: 16px;
  }

  .about_cols h3 {
    font-size: 15px;
    padding-bottom: 15px;
  }

  .about_cols ul {
    margin-bottom: 20px;
  }

  .about_cols ul li {
    font-size: 12px;
    padding-left: 15px;
    line-height: 18px;
  }

  .surroundings h2 {
    font-size: 24px;
    line-height: 26px;
    padding: 0 0 16px;
    margin: 0 0 23px;
  }
  .surroundings .text {
    padding-top: 40px;
    padding-bottom: 20px;
  }
  .surroundings .text .txt {
    font-size: 12px;
    line-height: 16px;
    padding: 0 15px;
  }
  .surroundings .btns {
    padding-top: 20px;
  }
  .surroundings .btns a {
    border-width: 1px;
    padding: 2px 10px 1px;
    font-size: 12px;
  }

  .historical_bg {
    padding-top: 40px;
  }
  .historical_bg h2 {
    font-size: 18px;
    line-height: 20px;
    padding: 0 0 16px;
    margin: 0 0 16px;
  }
  .historical_bg strong {
    font-size: 12px;
    line-height: 16px;
  }
  .historical_bg .hbg_slider {
    font-size: 12px;
    line-height: 16px;
  }
  .historical_bg p {
    padding-bottom: 20px;
  }

  .hbg_slider_btns {
    font-size: 18px;
  }
  .hbg_slider_btns ul li {
    margin: 0 29px 14px;
  }

  .seasons_climate {
    padding: 40px 20px 40px 20px;
    font-size: 12px;
    line-height: 16px;
  }
  .seasons_climate h2 {
    padding: 0 0 16px;
    margin: 0 0 16px;
    font-size: 24px;
    line-height: 26px;
  }

  .travel_times h2 {
    font-size: 18px;
    line-height: 20px;
  }

  .travel_col {
    font-size: 12px;
  }

  .travel_cols .red_arr {
    background-size: cover;
    width: 9px;
    height: 10px;
  }

  .travel_cols h3 {
    font-size: 14px;
    padding: 0 0 10px;
    margin: 0 0 10px;
  }

  .lifestyle_destination {
    padding: 40px 20px 40px;
  }
  .lifestyle_destination h2 {
    font-size: 24px;
    line-height: 26px;
    padding: 0 0 16px;
    margin: 0 0 16px;
  }
  .lifestyle_destination .txt {
    font-size: 12px;
    line-height: 16px;
  }

  .button_box, .button_box a {
    font-size: 12px;
    line-height: 18px;
  }

  body.facilities_list_pages .home_screen {
    font-size: 12px;
    line-height: 14px;
  }

  body.the_studios2_page .flex-direction-nav a.flex-next,
  body.the_studios2_page .flex-direction-nav a.flex-prev {
    width: 11px;
    height: 21px;
    background-size: cover !important;
    margin-top: 8px;
  }

  .chairman_dream, .quote_position, .quote_name,
  .wanda_studios .round_text, .wanda_studios .text,
  .team_detail .position,
  .film_with_us,
  .block_box {
    font-size: 12px;
    line-height: 18px;
  }

  .team_detail .name {
    font-size: 15px;
    line-height: 15px;
  }

  .film_with_us h3 {
    font-size: 16px;
    line-height: 18px;
  }

  .round_text_inner, .wanda_studios .text_inner {
    padding: 20px 21px;
  }

  .film_with_us h3 .td {
    line-height: 22px;
  }

  /* Group */
  .fl_specs .img h2, .block_box_title_wrapper h2.block_box_title {
    font-size: 24px;
    line-height: 26px;
  }
}
/* Height */
@media only screen and (max-height: 880px) {
  .contact h2.block_box_title {
    font-size: 58px;
    line-height: 58px;
    padding: 0 0 20px;
    margin: 0 auto 20px;
  }
}
@media only screen and (max-height: 800px) {
  .main_nav_inner {
    overflow-y: scroll;
  }

  /* contact page */
  .contact_info ul {
    padding: 0 0 18px;
  }

  .field textarea {
    height: 100px;
  }

  .contact_box {
    padding: 10px 0 0 0;
  }
}

/*# sourceMappingURL=media-screen.css.map */
