@import "compass/css3";
@media only screen and (min-width: 1025px) and (max-width: 1300px){
	.main_nav_list{
		max-width: 96%;
		margin: 0 auto;
	}
	.main_nav_list .left li{
		padding: 30px 0 0 0;
	}
	.main_nav_list .middle{
		margin: 0 0 0 11.12%;
	}
}
@media only screen and (min-width: 1025px) and (max-width: 1440px){
	.lang_switcher{
		padding-bottom: 20px;
	}
	.main_nav_list ul{
		padding-top: 20px;
	}
	.main_nav_inner h3, .main_nav_inner h3 a,
	.main_nav_list .left li a{
		font-size: 24px;
	}
}
@media only screen and (max-width: 1024px){
	.red_header{
		.menu_btn{
			top: 28px;
			position: absolute;
			background-image: url(../images/menu_btn_red.png);
		}
		.logo{
			position: absolute;
			top: 23px;
			left: 20px;
		}
	}
	.main_nav_list .left ul ul{
		margin-bottom: 0;
		li:last-child{
			border: none;
		}
	}
	.main_nav_list .left ul .active.has-submenu{
		border: none;
	}
	.mobile_more,
	.mobile_more .title{
		display: block;
		br{
			display: none;
		}
	}
	.mobile_more{
		padding-top: 24px;
	}
	.map_btn {
		margin-top: 5px;
	}
	.foot_share [class^="icon-"], .foot_share [class*=" icon-"]{
		font-size: 18px;
		top: 50%;
		left: 50%;
		@include transform(translate(-50%, -50%));
	}
	.back_top .back_top_bg {
		background: url(../images/back_top.png) no-repeat 50% 50%;
		background-size: 9px auto;
	}
	body .foot_share a {
		width: 35px;
		height: 35px;
		margin-left: 6px;
		margin-right: 0;
	}
	.mobile_back_top, a.mobile_back_top{
		width: 35px;
		height: 35px;
	}
	.mobile_foot_widgets h3{
		font-size: 20px;
	}
	.mobile_foot_widgets .txt {
		opacity: .5;
	}
	.mobile_foot_widget:first-child{
		display: block;
	}
	.copyright span, .copyright a{
		opacity: 0.5;
	}

	.main_nav_list{
		.left,
		.right,
		.middle{
			width: 100%;
			float: none;
			margin: 0 auto;
		}
	}
	.main_nav_list .left li,
	.main_nav_list ul{
		padding-top: 0;
	}
	.main_nav_inner{
		overflow-y: scroll;
	}
	.main_nav_header{
		z-index: 300;
	}
	.lang_switcher{
		padding: 35px 0;
	}
	.main_nav_list ul li a{
		padding-left: 0;
	}
	.main_nav_list ul li a [class^="icon-"], .main_nav_list ul li a [class*=" icon-"]{
		display: none;
	}
	.main_nav_list:before{
		display: none;
	}
	.main_nav_list ul li,
	.main_nav_list .left li{
		position: relative;
		border-bottom: 1px solid #d3d3d3;
		margin: 0 20px;
		padding: 0;
		&:first-child{
			border-top: 1px solid #d3d3d3;
		}
	}
	.main_nav_list .left li.has-submenu{
		li{
			&:first-child{
				border-top: none;
			}
		}
	}
	.main_nav_list .left li a,
	.main_nav_inner h3,
	.main_nav_list ul li a,
	.main_nav_inner h3 a {
		display: block;
		padding: 4px 0;
		font-size: 18px;
		font-family: 'avenir_lt_55_romanheavy';
	}
	.search_form{
		padding: 0;
		background: #e6e6e6;
	}
	.main_nav_inner{
		padding-top: 58px;
	}
	.search_form input[type="text"]{
		border-bottom: none;
		padding: 1px 20px;
		line-height: 42px;
		font-size: 18px;
	}
	.search_form .icon-60{
		font-size: 18px;
		top: 13px;
		right: 24px;
	}
	.main_nav_list{
		margin: 0;
		padding-top: 17px;
	}
	.main_nav_inner {
		padding-top: 60px;
	}
	.main_nav_header {
		height: 60px;
	}
	.main_nav_list .left li.has-submenu span.menu-expand{
		position: absolute;
		top: 21px;
		right: 4px;
		z-index: 100;
		width: 13px;
		height: 7px;
		background-size: cover;
	}
	.main_nav_logo{
		width: 36px;
	}
	.main_nav_logo {
		top: 12px;
	}
	.main_nav_close .icon-59 {
		font-size: 24px;
	}
	.main_nav_close {
		top: 19px;
		right: 20px;
	}
	.main_nav_inner h3{
		margin: 0 20px;
	}
	///* TODO Remove after end styling !!! */
	//.search_form {
	//	display: block !important;
	//}
	.about_qd .text{
		font-size: 22px;
	}
	.about_col {
		width: 100%;
		float: none;
	}
	.about_cols{
		padding-top: 20px;
	}
	.about_cols h3{
		font-size: 30px;
		padding-bottom: 20px;
	}
	.about_cols ul li{
		font-size: 22px;
		line-height: 24px;
	}
	.about_cols ul{
		margin-bottom: 20px;
	}
	.header.mobile_header{
		background: #fff;
		position: fixed;
		.menu_btn{
			background-image: url(../images/menu_btn_red.png);
		}
	}
	.surroundings{
		height: auto;

		h2{
			font-size: 48px;
			line-height: 50px;
		}
		.btns{
			padding-top: 40px;
			a{
				display: block;
				max-width: 80%;
				margin: 20px auto;
			}
		}
		.text{
			padding-top: 60px;
			height: auto;
			padding-bottom: 30px;
		}
	}
	.historical_bg{
		padding-top: 60px;
		h2{
			font-size: 36px;
			line-height: 40px;
		}
		.hbg_slider{
			padding: 0 20px;
			font-size: 22px;
			line-height: 26px;
		}
	}
	.seasons_climate{
		font-size: 22px;
		line-height: 24px;
		padding: 60px 20px 50px 20px;
		h2{
			font-size: 48px;
			line-height: 50px;

		}
		.text,
		.img{
			float: none;
			width: 100%;
			margin: 0;
		}
		.img{
			margin-top: 30px;
		}
	}
	.travel_times{
		height: auto;
		h2{
			font-size: 36px;
			line-height: 38px;
		}
	}
	.travel_cols{
		position: relative;
		margin: 0 20px;
		padding: 20px;
		left: 0;
		width: auto;
		border-radius: 15px 15px 0 0;
	}
	.travel_col {
		width: 100%;
		float: none;
		font-size: 22px;
	}
	.lifestyle_destination{
		height: auto;
		padding: 60px 20px 40px;
		h2{
			font-size: 48px;
			line-height: 50px;
		}
	}
	.button_boxes .arr{
		color: #fff;
		span.icon-9,
		span.icon-11{
			display: none;
		}
	}
	.hover_btn:before, a.hover_btn:before, a.hover_btn.active:before {
		-webkit-transform: rotate3d(0, 0, 1, -66deg) translate3d(0, -3em, 0);
		transform: rotate3d(0, 0, 1, -66deg) translate3d(0, -3em, 0);
	}
}
@media only screen and (max-width: 640px){
	.main_nav_logo{
		left: 20px;
		top: 14px;
		max-width: 32px;
	}
	.main_nav_close{
		right: 20px;
		top: 18px;
	}
	.main_nav_header{
		height: 58px;
	}

	.main_nav_close .icon-59{
		font-size: 20px;
	}
	.search_form input[type="text"]{
		border-bottom: none;
		padding: 1px 20px;
		line-height: 41px;
		font-size: 12px;
	}
	.search_form .icon-60{
		font-size: 16px;
		top: 13px;
		right: 24px;
	}


	.main_nav_list ul li,
	.main_nav_list .left li{
		position: relative;
		border-bottom: 1px solid #d3d3d3;
		margin: 0 20px;
		padding: 0;
		&:first-child{
			border-top: 1px solid #d3d3d3;
		}
	}
	.main_nav_list .left li a,
	.main_nav_inner h3,
	.main_nav_list ul li a,
	.main_nav_inner h3 a {
		display: block;
		padding: 4px 0;
		font-size: 12px;
		font-family: 'avenir_lt_55_romanheavy';
	}
	.main_nav_list .left ul ul li a{
		font-size: 12px;
	}
	.main_nav_list .left li.has-submenu span.menu-expand{
		top: 21px;
		right: 4px;
		width: 13px;
		height: 7px;
		background-size: 100%;
	}
	.lang_switcher{
		padding: 25px 0;
	}
	.lang_switcher, .lang_switcher a{
		font-size: 10px;
	}
	/**/
	.about_qd .text{
		font-size: 12px;
		line-height: 16px;
	}
	.about_cols h3{
		font-size: 15px;
		padding-bottom: 15px;
	}
	.about_cols ul{
		margin-bottom: 20px;
	}
	.about_cols ul li{
		font-size: 12px;
		padding-left: 15px;
		line-height: 18px;
	}
	.surroundings{
		h2{
			font-size: 24px;
			line-height: 26px;
			padding: 0 0 16px;
			margin: 0 0 23px;
		}
		.text{
			padding-top: 40px;
			padding-bottom: 20px;
			.txt{
				font-size: 12px;
				line-height: 16px;
				padding: 0 15px;
			}
		}
		.btns{
			padding-top: 20px;
			a{
				border-width: 1px;
				padding: 2px 10px 1px;
				font-size: 12px;
			}
		}
	}
	.historical_bg{
		padding-top: 40px;
		h2{
			font-size: 18px;
			line-height: 20px;
			padding: 0 0 16px;
			margin: 0 0 16px;
		}
		strong{
			font-size: 12px;
			line-height: 16px;
		}
		.hbg_slider{
			font-size: 12px;
			line-height: 16px;
		}
		p{
			padding-bottom: 20px;
		}
	}
	.hbg_slider_btns{
		font-size: 18px;
		ul li{
			margin: 0 29px 14px;
		}
	}
	.seasons_climate{
		padding: 40px 20px 40px 20px;
		font-size: 12px;
		line-height: 16px;
		h2{
			padding: 0 0 16px;
			margin: 0 0 16px;
			font-size: 24px;
			line-height: 26px;
		}
		.img{

		}
	}
	.travel_times{
		h2{
			font-size: 18px;
			line-height: 20px;
		}
	}
	.travel_col{
		font-size: 12px;
	}
	.travel_cols .red_arr{
		background-size: cover;
		width: 9px;
		height: 10px;
	}
	.travel_cols h3{
		font-size: 14px;
		padding: 0 0 10px;
		margin: 0 0 10px;
	}
	.lifestyle_destination{
		padding: 40px 20px 40px;
		h2{
			font-size: 24px;
			line-height: 26px;
			padding: 0 0 16px;
			margin: 0 0 16px;
		}
		.txt{
			font-size: 12px;
			line-height: 16px;
		}
	}
	.button_box, .button_box a{
		font-size: 12px;
		line-height: 18px;
	}
	body.facilities_list_pages .home_screen {
		font-size: 12px;
		line-height: 14px;
	}

}

/* Height */
@media only screen and (max-height: 880px){
	.contact h2.block_box_title{
		font-size: 58px;
		line-height: 58px;
		padding: 0 0 20px;
		margin: 0 auto 20px;
	}
}
@media only screen and (max-height: 800px){
	.main_nav_inner{
		overflow-y: scroll;
	}
	/* contact page */
	.contact_info ul {
		padding: 0 0 18px;
	}
	.field textarea{
		height: 100px;
	}
	.contact_box{
		padding: 10px 0 0 0;
	}
}