@import "compass/css3";
/* Height */
@media only screen and (max-height: 880px){
	.contact h2.block_box_title{
		font-size: 58px;
		line-height: 58px;
		padding: 0 0 20px;
		margin: 0 auto 20px;
	}
	.incentive_page{
		.stage_screen_btns{
			a{
				width: 180px;
				height: 180px;
				font-size: 16px;
				line-height: 21px;
				.td{
					width: auto;
					height: auto;
				}
			}
		}
	}
}
@media only screen and (max-height: 800px){
	.main_nav_inner{
		overflow-y: scroll;
	}
	/* contact page */
	.contact_info ul {
		padding: 0 0 18px;
	}
	.field textarea{
		height: 100px;
	}
	.contact_box{
		padding: 10px 0 0 0;
	}
}
@media only screen and (min-width: 1025px) and (max-width: 1300px){
	.main_nav_list{
		max-width: 96%;
		margin: 0 auto;
	}
	.main_nav_list .left li{
		padding: 30px 0 0 0;
	}
	.main_nav_list .middle{
		margin: 0 0 0 11.12%;
	}
}
@media only screen and (min-width: 1025px) and (max-width: 1440px){
	.lang_switcher{
		padding-bottom: 20px;
	}
	.main_nav_list ul{
		padding-top: 20px;
	}
	.main_nav_inner h3, .main_nav_inner h3 a,
	.main_nav_list .left li a{
		font-size: 24px;
	}
}
@media only screen and (max-width: 1650px) and (min-width: 1441px){
	.fl_specs .img{
		width: 40%;
	}
	.fl_specs .text{
		width: 60%;
	}
}
@media only screen and (max-width: 1600px){
	body.the_studios2_page{
		.full_screen .td{
			vertical-align: middle;
		}
		.full_screen .td .home_screen, .press_center_page .td_bottom .home_screen{
			padding-bottom: 0;
		}
		.home_screen h2{
			padding-top: 0;
		}
		.ss_cols{
			padding: 0;
			li{
				.desktop_br{
					display: none;
				}
			}
		}
	}
}

@media only screen and (max-width: 1440px) and (min-width: 1025px){
	.wrong{
		font-size: 11px;
		line-height: 22px;

	}
	.our_team_list {
		padding: 0 20px;
	}
	.footer{
		bottom: -495px;
	}
	body.footer_visible .wrapper{
		top: -495px;
	}
	.group_property_ul ul li {
		width: 120px;
	}
	.hw_img_bg_inner{
		background-position: 0% 100%;
		background-size: auto;
	}
	.news_item{
		height: 323px;
	}
	.news_item_w2_h2 {
		height: 686px;
	}
	.news_item_h2 {
		height: 686px;
	}
	body.stage_page .stage_box .text_box .btn, body.stage_page .stage_box .text_box a.btn {
		padding-top: 11px;
		padding-bottom: 11px;
	}
	.press_detail_inner,
	.incentive_inner{
		max-width: 925px;
	}
	.logo{
		width: 50px;
	}
	.header .logo {
		top: 17px;
	}
	.main_nav_logo {
		top: 10px;
		width: 50px;
	}
	.stage_box .text_box h2{
		font-size: 37px;
	}
	.stage_box .text_box .stage-desc strong{
		font-size: 15px;
	}
	.stage_box .text_box h3{
		padding-bottom: 28px;
		font-size: 22px;
	}
	.stage_box .text_box{
		padding: 427px 0 0 5.0%;
	}
	.stage_box .text_box .stage-desc {
		max-width: 376px;
	}
	.group_property_ul ul li.group_property_1 img,
	.group_property_ul ul li.group_property_2 img,
	.group_property_ul ul li.group_property_5 img,
	.group_property_ul ul li.group_property_6 img{
		margin: 3px auto 0;
	}
	.header .menu_btn {
		top: 25px;
	}
	.main_nav_close {
		top: 29px;
	}
	.main_nav_close .icon-59 {
		font-size: 24px;
	}
	.menu_btn [class^="icon-"], .menu_btn [class*=" icon-"] {
		font-size: 31px;
	}
	/* Main menu */
	.search_form input[type="text"]{
		font-size: 23px;
		padding: 12px 0;
	}
	.search_form .icon-60{
		font-size: 30px;
		top: 50px;
	}
	.main_nav_list{
		margin-top: 70px;
	}
	.main_nav_inner h3, .main_nav_inner h3 a, .main_nav_list .left li a {
		font-size: 22px;
	}
	.main_nav_list ul li a [class^="icon-"], .main_nav_list ul li a [class*=" icon-"]{
		font-size: 22px;
	}
	.main_nav_list .left li{
		padding-top: 35px;
		line-height: 30px;
	}
	.main_nav_list ul li a{
		line-height: 26px;
		padding: 9px 0 9px 58px;
	}
	.main_nav_list .left ul ul li a,
	.main_nav_list ul li a{
		font-size: 18px;
	}
	.main_nav_list .left ul ul{
		padding-top: 5px;
	}
	/* Footer */
	.foot_logo_a{
		width: 116px;
	}
	.foot_share a{
		width: 76px;
		height: 76px;
	}
	.foot_share [class^="icon-"], .foot_share [class*=" icon-"]{
		font-size: 39px;
		top: 16px;
		left: 19px;
	}
	.foot_box {
		padding-top: 19px;
		padding-bottom: 19px;
	}
	.copyright, .copyright a{
		font-size: 15px;
	}
	.map_btn > span span{
		width: 33px;
		height: 33px;
		font-size: 33px;
	}
	.map_btn > span{
		padding: 7px 0 7px 46px;
	}
	/* Next screen */
	.next_screen{
		width: 285px;
		height: 64px;
		margin-left: -142px;
		background-size: cover;
	}
	.next_screen_ed {
		margin-top: -64px;
	}
	.next_screen_mouse{
		background: url(../images/next_screen_mouse.png) no-repeat 50% 13px;
	}
	.next_screen_mousewheel{
		top: 24px;
	}
	/* About us page */
	.landing_grids{
		h2 {
			font-size: 36px;
			line-height: 36px;
		}
	}
	.landing_grids ul,
	.btn_medium, a.btn_medium {
		font-size: 14px;
		line-height: 24px;
	}
	/* The studios */
	body.facilities_list_pages .home_screen h2 {
		font-size: 42px;
		line-height: 42px;
	}
	body.facilities_list_pages .home_screen{
		font-size: 16px;
		line-height: 22px;
	}
	.view_video{
		padding: 8px 0 12px 38px;
		font-size: 16px;
	}
	.view_video [class^="icon-"], .view_video [class*=" icon-"]{
		font-size: 27px;
	}
	.chairman_dream{
		font-size: 16px;
		line-height: 27px;
		height: 450px;
	}
	.quote_name,
	.quote_position,
	.block_box{
		line-height: 27px;
		font-size: 18px;
	}
	.seasons_climate h2, .holdings h2.block_box_title, h2.block_box_title, .group_properties h2, .our_team_list h2 {
		font-size: 38px;
		line-height: 47px;
	}
	.team_detail .position{
		font-size: 16px;
		padding: 0 0 45px;
	}
	.team_detail .text{
		font-size: 14px;
		line-height: 27px;
	}
	.our_team .name {
		font-size: 18px;
		line-height: 22px;
	}
	.our_team_list_ul li{
		margin: 0 0 40px;
	}
	.film_with_us{
		font-size: 14px;
		line-height: 18px;
		h2{
			font-size: 36px;
			line-height: 42px;
		}
		h3{
			height: 56px;
			font-size: 16px;
			[class^="icon-"],
			[class*=" icon-"]{
				font-size: 38px;
			}
		}
		&_col{
			ul{
				li{
					margin: 20px 0 0 0;
					padding: 0 0 0 27px;
				}
			}
		}
	}
	.button_box{
		font-size: 27px;
		line-height: 36px;
		a{
			height: 228px;
			font-size: 27px;
			line-height: 36px;
		}
		.arr{
			padding: 29px 0 29px 108px;
			[class^="icon-"],
			[class*=" icon-"]{
				margin: -40px 0 0 0;
				padding: 24px 22px;
				width: 80px;
				height: 80px;
				font-size: 30px;
			}
		}
	}
	.button_box_next .arr{
		padding-right: 108px;
		padding-left: 0;
	}
	/* The city */
	.fl_specs .img h2, .block_box_title_wrapper h2.block_box_title{
		font-size: 39px;
		line-height: 46px;
	}
	.fl_specs .img, .fl_specs .text{
		height: 478px;
	}
	.marine_page{
		.fl_specs .img, .fl_specs .text{
			height: 454px;
		}
	}
	.about_qd .text{
		font-size: 15px;
		line-height: 22px;
	}
	.about_cols{
		font-size: 15px;
		line-height: 22px;
		h3{
			font-size: 19px;
			line-height: 24px;
			padding: 0 0 25px;
		}
		ul li{
			margin-top: 22px;
		}
	}
	.surroundings{
		height: 537px;
		font-size: 15px;
		line-height: 22px;
		h2{
			font-size: 53px;
			line-height: 59px;
		}
	}
	.seasons_climate,
	.hbg_slider_btns{
		font-size: 15px;
		line-height: 22px;
	}
	.hbg_slider_btns ul li{
		width: 113px;
		height: 113px;
	}
	.historical_bg{
		font-size: 15px;
		line-height: 22px;
		h2{
			font-size: 53px;
			line-height: 59px;
		}
	}
	.travel_times{
		height: 720px;
		h2{
			font-size: 53px;
			line-height: 59px;
		}
	}
	.travel_cols{
		padding: 16px 32px 40px;
		h3{
			font-size: 15px;
			line-height: 22px;
		}
	}
	.lifestyle_destination{
		height: 585px;
		font-size: 15px;
		line-height: 22px;
		h2{
			font-size: 53px;
			line-height: 59px;
		}
	}
	/* The group */
	.hr_box h2.block_box_title {
		max-width: 330px;
	}
	.hr_box .specs_list{
		font-size: 18px;
		line-height: 22px;
	}
	.hr_box{
		height: 735px;
	}
	.hr_box .specs_list ul li{
		padding-bottom: 15px;
	}
	.group_properties{
		font-size: 15px;
		line-height: 22px;
	}
	.group_property_ul ul li .ico{
		height: 169px;
	}
	.holdings{
		padding-top: 58px;
		padding-bottom: 34px;
		height: 405px;
		h2.block_box_title{
			margin-bottom: 65px;
		}
	}
	/* Home */
	.light{
		font-size: 30px;
		line-height: 38px;
	}
	h2, h2 a{
		font-size: 53px;
		line-height: 57px;
	}
	.social_btns a{
		width: 33px;
		height: 33px;
	}
	.social_btns [class^="icon-"], .social_btns [class*=" icon-"] {
		font-size: 16px;
		line-height: 30px;
	}
	.side{
		.ico{
			height: 77px;
			[class^="icon-"],
			[class*=" icon-"]{
				font-size: 27px;
				width: 77px;
				height: 77px;
				padding: 24px 0;
			}
		}
	}
	/* IT Service */
	.four_grids{
		.landing_grids{
			h2{
				font-size: 30px;
				line-height: 39px;
			}
			ul li .txt{
				font-size: 15px;
				line-height: 22px;
			}
		}
	}
	/* Incentives */
	body.incentive_page .stage_screen_btns .big{
		font-size: 27px;
		line-height: 33px;
	}
	body.incentive_page .stage_screen_btns a,
	body.incentive_page .stage_screen_btns a .table, body.incentive_page .stage_screen_btns a .td{
		line-height: 24px;
		width: 180px;
		height: 180px;
	}

	.incentive h2.block_box_title{
		font-size: 36px;
		line-height: 41px;
	}
	.content{
		font-size: 15px;
		line-height: 22px;
		h3{
			font-size: 18px;
			line-height: 24px;
		}
		p{
			padding-bottom: 22px;
		}
	}
	/* Press center */
	body.workshops_page .stage_screen_btns, body.facilities_list_pages.press_center_page .stage_screen_btns{
		padding-top: 120px;
	}
	body.facilities_list_pages .stage_screen_btns a{
		font-size: 15px;
		line-height: 22px;
	}
	.stage_screen_btns > span, .stage_screen_btns a,
	body.facilities_list_pages .stage_screen_btns a,
	body.facilities_list_pages .stage_screen_btns a .table, body.facilities_list_pages .stage_screen_btns a .td{
		height: 103px;
	}
	body.facilities_list_pages .stage_screen_btns a{
		width: 103px;
	}
	.news .category{
		margin-bottom: 15px;
	}
	.news .category,
	.load_more a.load_more_btn{
		font-size: 16px;
		line-height: 24px;
	}
	.news h2.title, .news h2.title a{
		font-size: 18px;
		line-height: 24px;
	}
	.news_item .img .date{
		font-size: 24px;
		line-height: 26px;
		width: 54px;
		height: 54px;
	}
	.news_item .img .date .month{
		font-size: 15px;
		line-height: 20px;
	}
	/* Contact */
	.contact{
		font-size: 15px;
		line-height: 22px;
		h2.block_box_title{
			font-size: 44px;
			line-height: 44px;
		}
	}
	.contact_info ul li{
		height: 48px;
	}
	.contact_info h3 {
		font-size: 23px;
		line-height: 30px;
	}
	.field input[type="text"], .field input[type="email"], .field input[type="tel"], .field input[type="password"], .field input[type="file"], .field textarea, .field select, .field .customSelect, .field .NFI-wrapper{
		font-size: 15px;
		line-height: 22px;
		padding: 21px 0 12px;
	}
	.contact_info ul li [class^="icon-"],
	.contact_info ul li [class*=" icon-"]{
		font-size: 38px;
	}
	.contact_info,
	.contact_form input[type="submit"],
	.field label{
		font-size: 15px;
		line-height: 24px;
	}
	.contact_form input[type="submit"]{
		height: 42px;
		padding: 8px 78px;
	}
	.btn_medium, a.btn_medium{
		padding: 6px 52px;
	}
	/* post production */
	body.facilities_list_pages .stage_screen_btns a.tab_nav_small {
		font-size: 12px;
		line-height: 15px;
	}
	/* Marine facilities */
	.block h2.block_title{
		font-size: 52px;
		line-height: 52px;
	}
	.block{
		font-size: 15px;
		line-height: 22px;
	}
	.block_2{
		font-size: 18px;
		line-height: 22px;
	}
	.three_cols .text_box{
		font-size: 30px;
		line-height: 39px;
	}
	.three_cols ul li{
		height: 606px;
	}
	/* Backlots */
	.hws{
		font-size: 15px;
		line-height: 22px;
		h3{
			font-size: 30px;
			line-height: 38px;
		}
	}
	.red_cols{
		padding: 56px 0 17px;
		font-size: 15px;
		line-height: 22px;
	}
	.stage_detail_slider .slides > li .text{
		font-size: 36px;
		line-height: 40px;
	}
	.round_nav_ul [class^="icon-"], .round_nav_ul [class*=" icon-"]{
		font-size: 24px;
		margin: -12px 0 0 -12px;
	}
	.round_nav_ul{
		width: 51px;
		left: 4px;
		li a{
			height: 42px;
			width: 42px;
			margin-left: 7px;
			span{
				padding: 8px 0;
				font-size: 15px;
			}
		}
	}
	/* Workshop */
	.work_shop{
		height: 850px;
		font-size: 15px;
		line-height: 28px;
		.title h2 {
			font-size: 23px;
			line-height: 32px;
		}
	}
	.work_shop .text h3{
		font-size: 18px;
		line-height: 24px;
	}
	.work_shops_close{
		top: 60px;
		right: 60px;
		[class^="icon-"], [class*=" icon-"]{
			font-size: 25px;
		}
	}
	/* Services */
	.sv_icons{
		font-size: 15px;
		padding-top: 109px;
	}
	.line_title{
		font-size: 19px;
	}
	.pre_production{
		padding: 63px 0 50px 0;
	}
	.pre_production_inner ul li{
		padding: 0 27px;
	}
	.four_grids .landing_grids ul li{
		height: 367px;
	}
	/* Stages */
	body.stages_page .home_screen h2{
		font-size: 52px;
		line-height: 52px;
	}
	.stages_page .stage_screen_btns a{
		width: 103px;
	}
	.stage_screen_btns a{
		padding: 31px 10px;
	}
	.stage_btn_hover{
		font-size: 15px;
		line-height: 15px;
	}
	.stage_nav_container, .stage_nav_container a{
		font-size: 18px;
		line-height: 24px;
	}
	.stage_nav_container ul li.active .a{
		font-size: 54px;
		line-height: 61px;
	}
	.stage_nav_container small, .stage_nav_container .a small{
		font-size: 22px;
		line-height: 28px;
	}
	.stage_screen_btns_wrapper{
		top: 10px;
	}
	.stage_screen_btns_wrapper .stage_screen_btns span a{
		width: 49px;
		height: 49px;
		font-size: 16px;
		line-height: 20px;
		padding: 14px 5px;
	}
	.stage_screen_btns_wrapper .stage_screen_btns span{
		width: 49px;
		height: 49px;
	}
	.stage_nav_container ul li.active .stage_nav .dot{
		background: #fff;
	}
	.stage_pic{
		width: 466px;
		height: 294px;
		background-size: cover;
		padding: 22px 33px 36px 26px;
		margin: 15px 0;
		h2{
			padding: 0 0 15px;
			margin: 0 0 15px;
			font-size: 30px;
			line-height: 36px;
		}
		.stage_pic_text {
			padding: 0 0 24px;
		}
	}
	.stage_list a{
		font-size: 15px;
		line-height: 24px;
		padding: 10px 41px 10px 32px;
	}
	.stage_list a .icon-5{
		top: 8px;
		right: 8px;
		font-size: 28px;
	}
	.stage_index{
		font-size: 18px;
	}
	.stage_list_slider{
		top: 30%;
		left: 53px;
		width: 646px;
		height: 53.175%;
	}
	/* press center detail */
	h1.detail_title{
		font-size: 30px;
		line-height: 36px;
	}
	body.incentive_page.facilities_list_pages{
		.stage_screen_btns span{
			margin: 0 55px;
		}
		.stage_screen_btns span,
		.stage_screen_btns a,
		.stage_screen_btns a .table{

			width: 150px;
			height: 150px;
		}
	}
	body.incentive_page .full_screen .td .home_screen {
		padding-bottom: 130px;
	}
	.red_header_fixed .four_grids{
		padding-top: 94px;
	}
	.tab_nav ul li.news_a:before{
		top: 65px;
	}
	.fl_specs .img {
		width: 30%;
	}
	.fl_specs .text {
		width: 70%;
	}
	.foot_right{
		.grey_border_span [class^="icon-"], .grey_border_span [class*=" icon-"] {
			font-size: 29px;
			padding: 19px 0;
		}
		.grey_border_span{
			width: 64px;
			height: 64px;
		}
	}
	.ss_cols{
		max-width: 97%;
	}
	.qrcode{
		width: 98px;
	}
	.block_2 .block_inner{
		max-width: 92%;
	}
	.red_header_fixed .hr_box .specs{
		padding-top: 62px;
	}
}
@media only screen and (max-width: 1440px) and (min-width: 1250px){
	/* tmp */
	.foot_widgets h3, .foot_widgets h3 a{
		font-size: 23px;
		line-height: 25px;
	}
	.foot_widget {
		padding-left: 92px;
	}
}
@media only screen and (max-width: 1200px) {
	.stage_screen_btns_wrapper .stage_screen_btns span {
		margin: 0 5px;
	}
	.side_stage_pic {
		right: 6%;
		width: 382px;
	}
	.stage_pic{
		width: 387px;
		height: 239px;
		padding: 16px 28px 33px 22px;
		background-size: cover;
	}
	.stage_list_slider {
		width: 480px;
		height: 360px;
		left: 20px;
		top: 50%;
		margin: 0;
	}
	.stage_pic h2 {
		padding: 0 0 8px;
		margin: 0 0 8px;
		font-size: 26px;
		line-height: 30px;
	}
	.stage_pic .stage_pic_text {
		padding: 0 0 11px;
	}
	.stage_list_slider{
		left: 20px;
		top: 30%;
		width: 552px;
		height: 52.175%;
	}
}
@media only screen and (max-width: 1024px){
	body.stage_page .header:before{
		display: none;
	}
	.stage_pic{
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		.stage_pic_bg{
			background-size: cover;
		}
	}
	.wrong{
		font-size: 10px;
		top: auto;
		right: 0;
		bottom: 0;
	}
	.thank-you .close{
		top: 15px;
		right: 15px;
	}
	.thank-you strong{
		font-size: 24px;
	}
	.thank-you{
		font-size: 12px;
	}
	.news_nav ul li{
		display: block;
		padding: 10px;
	}
	.news {
		padding: 0 50px 60px;
	}
	.travel_times{
		background-image: url('../images/mobile/map-1024.jpg');
		background-position: center 22%;
	}
	.travel_times h2{
		margin: 0 0 429px;
	}
	body.stage_page .stage_box .text_box{
		padding: 50px 0;
		text-align: center;
		position: relative;
	}
	.stage_box .text_box .stage-desc{
		max-width: 90%;
		margin: 0 auto;
	}
	.stage_box{
		height: auto;
	}
	.red_header{
		.menu_btn{
			top: 19px;
			position: absolute;
			background-image: url(../images/menu_btn_red.png);
		}
		.logo{
			position: absolute;
			top: 15px;
			left: 20px;
		}
	}
	.main_nav_list .left ul ul{
		margin-bottom: 0;
		li:last-child{
			border: none;
		}
	}
	.main_nav_list .left ul .active.has-submenu{
		border: none;
	}
	.mobile_more,
	.mobile_more .title{
		display: block;
		br{
			display: none;
		}
	}
	.mobile_more{
		padding-top: 24px;
	}
	.map_btn {
		margin-top: 5px;
	}
	.foot_share [class^="icon-"], .foot_share [class*=" icon-"]{
		font-size: 18px;
		top: 50%;
		left: 50%;
		@include transform(translate(-50%, -50%));
	}
	.back_top .back_top_bg {
		background: url(../images/back_top.png) no-repeat 50% 50%;
		background-size: 9px auto;
	}
	 body .foot_share a {
		width: 35px;
		height: 35px;
		margin-left: 6px;
		margin-right: 0;
	}
	.mobile_back_top, a.mobile_back_top{
		width: 35px;
		height: 35px;
	}
	.mobile_foot_widgets h3{
		font-size: 20px;
	}
	.mobile_foot_widgets .txt {
		opacity: .5;
	}
	.mobile_foot_widget:first-child{
		display: block;
	}
	.copyright span, .copyright a{
		opacity: 0.5;
	}

	.main_nav_list{
		.left,
		.right,
		.middle{
			width: 100%;
			float: none;
			margin: 0 auto;
		}
	}
	.main_nav_list .left li,
	.main_nav_list ul{
		padding-top: 0;
	}
	.main_nav_inner{
		overflow-y: scroll;
	}
	.main_nav_header{
		z-index: 300;
	}
	.lang_switcher{
		padding: 35px 0;
	}
	.main_nav_list ul li a{
		padding-left: 0;
	}
	.main_nav_list ul li a [class^="icon-"], .main_nav_list ul li a [class*=" icon-"]{
		display: none;
	}
	.main_nav_list:before{
		display: none;
	}
	.main_nav_list ul li,
	.main_nav_list .left li{
		position: relative;
		border-bottom: 1px solid #d3d3d3;
		margin: 0 20px;
		padding: 0;
		&:first-child{
			border-top: 1px solid #d3d3d3;
		}
	}
	.main_nav_list .left li.has-submenu{
		li{
			&:first-child{
				border-top: none;
			}
		}
	}
	.main_nav_list .left li a,
	.main_nav_inner h3,
	.main_nav_list ul li a,
	.main_nav_inner h3 a {
		display: block;
		padding: 4px 0;
		font-size: 18px;
		font-family: 'avenir_lt_55_romanheavy';
	}
	.search_form{
		padding: 0;
		background: #e6e6e6;
	}
	.main_nav_inner{
		padding-top: 58px;
	}
	.search_form input[type="text"]{
		border-bottom: none;
		padding: 1px 20px;
		line-height: 42px;
		font-size: 18px;
	}
	.search_form .icon-60{
		font-size: 18px;
		top: 13px;
		right: 24px;
	}
	.main_nav_list{
		margin: 0;
		padding-top: 17px;
	}
	.main_nav_inner {
		padding-top: 60px;
	}
	.main_nav_header {
		height: 60px;
	}
	.main_nav_list .left li.has-submenu span.menu-expand{
		position: absolute;
		top: 9px;
		right: 0;
		z-index: 100;
		width: 24px;
		height: 27px;
		background-size: auto;
		background-position: center;
	}
	.main_nav_logo{
		width: 36px;
	}
	.main_nav_logo {
		top: 12px;
	}
	.main_nav_close .icon-59 {
		font-size: 24px;
	}
	.main_nav_close {
		top: 19px;
		right: 20px;
	}
	.main_nav_inner h3{
		margin: 0 20px;
	}
	///* TODO Remove after end styling !!! */
	//.search_form {
	//	display: block !important;
	//}
	.about_qd .text{
		font-size: 22px;
	}
	.about_col {
		width: 100%;
		float: none;
	}
	.about_cols{
		padding-top: 20px;
	}
	.about_cols h3{
		font-size: 30px;
		padding-bottom: 20px;
	}
	.about_cols ul li{
		font-size: 22px;
		line-height: 24px;
	}
	.about_cols ul{
		margin-bottom: 20px;
	}
	.header.mobile_header{
		background: #fff;
		position: fixed;
		.menu_btn{
			background-image: url(../images/menu_btn_red.png);
		}
	}
	.surroundings{
		height: auto;

		h2{
			font-size: 48px;
			line-height: 50px;
		}
		.btns{
			padding-top: 40px;
			a{
				display: block;
				max-width: 80%;
				margin: 20px auto;
			}
		}
		.text{
			padding-top: 60px;
			height: auto;
			padding-bottom: 30px;
		}
	}
	.historical_bg{
		padding-top: 60px;
		h2{
			font-size: 36px;
			line-height: 40px;
		}
		.hbg_slider{
			padding: 0 20px;
			font-size: 22px;
			line-height: 26px;
		}
	}
	.seasons_climate{
		font-size: 20px;
		line-height: 24px;
		padding: 60px 20px 50px 20px;
		h2{
			font-size: 48px;
			line-height: 50px;

		}
		.text,
		.img{
			float: none;
			width: 100%;
			margin: 0;
		}
		.img{
			margin-top: 30px;
		}
	}
	.travel_times{
		height: auto;
		h2{
			font-size: 36px;
			line-height: 38px;
		}
	}
	.travel_cols{
		position: relative;
		margin: 0 20px;
		padding: 20px;
		left: 0;
		width: auto;
		border-radius: 15px 15px 0 0;
	}
	.travel_col {
		width: 100%;
		float: none;
		font-size: 22px;
	}
	.lifestyle_destination{
		height: auto;
		padding: 60px 20px 40px;
		h2{
			font-size: 48px;
			line-height: 50px;
		}
	}
	.button_boxes .arr{
		color: #fff;
		span.icon-9,
		span.icon-11{
			display: none;
		}
	}
	.hover_btn:before, a.hover_btn:before, a.hover_btn.active:before {
		-webkit-transform: rotate3d(0, 0, 1, -66deg) translate3d(0, -3em, 0);
		transform: rotate3d(0, 0, 1, -66deg) translate3d(0, -3em, 0);
	}
	.view_video{
		display: none;
	}
	/* Studios page */
	body.the_studios2_page{
		.map_btn{
			display: none;
		}
		.chairman_dream{
			.slider_btns{
				display: none;
			}
		}
		.flex-direction-nav{
			position: static;
		}
		.flex-direction-nav a.flex-next,
		.flex-direction-nav a.flex-prev{
			width: 17px;
			height: 34px;
			top: 50%;
			margin:0;
			bottom: auto;
		}
		.flex-direction-nav a.flex-next{
			background: url('../images/mobile/studio-arrow-right.png') no-repeat;
			right: -20px;
			left: auto;
		}
		.flex-direction-nav a.flex-prev{
			background: url('../images/mobile/studio-arrow-left.png') no-repeat;
			left: -20px;
			right: auto;
		}

	}
	.ss_cols{
		margin-top: 40px;
	}
	.our_team_list h2{
		padding: 40px 0 22px;
	}
	.film_with_us h3 [class^="icon-"], .film_with_us h3 [class*=" icon-"]{
		font-size: 39px;
		padding: 0;
	}
	.film_with_us h3{
		padding: 0 0 0 50px;
	}
	html, body{
		height: auto;
		min-height: 100%;
	}
	body.red_header_fixed .tabs{
		padding-top: 58px;
	}
	/* Tab nav */
	.tab_nav{
		ul{
			margin: 18px 0 0;
			background: #fff;
			padding-top: 40px;
		}

		ul li{
			display: none;
			padding: 10px 0;
			position: relative;
			&.active{
				display: block;
				position: absolute;
				top: 9px;
				left: 0;
				right: 0;
				a{
					position: relative;
					&:after{
						display: block;
						content: '';
						color: #ccc;
						width: 11px;
						height: 22px;
						position: absolute;
						background: url('../images/sub-menu-arr.png');
						background-position: 0 -28px;
						margin-top: -10px;
						top: 50%;
						right: -20px;
						-webkit-transform: rotate(90deg);
						transform: rotate(90deg);
					}
				}
				&:after{
					display: none;
				}
			}
		}
		&.open{
			li{
				display: block;
			}
		}
	}
	/* Group */
	.fl_specs .img h2, .block_box_title_wrapper h2.block_box_title {
		font-size: 48px;
		line-height: 52px;
		br{
			display: none;
		}
	}
	body.facilities_list_pages{
		 .header.red_header img{
			 display: none;
			 &.logo_red{
				 display: block;
			 }
		 }
	}
	.group_properties h2,
	.holdings h2.block_box_title{
		font-size: 36px;
		line-height: 40px;
	}
	.holdings{
		height: auto;
	}
	.vendors_tenants{
		padding: 60px 0 40px;
		background-repeat: no-repeat;
		background-size: cover;
		ul{
			li{
				height: auto;
				padding: 15px;
			}
		}
	}
	.group_property_ul ul {
		padding: 40px 0 0 0;
	}
	.group_property_ul ul li {
		margin: 0 10px 20px;
	}
	.specs{
		font-size: 18px;
		line-height: 22px;
	}
	.specs_list ul li{
		padding: 10px 0 10px 15px;
	}
	.hw_img_bg{
		width: 100%;
	}
	.four_grids .landing_grids ul li{
		height: auto;
		padding-bottom: 50%;
	}
	.four_grids .landing_grids h2{
		font-size: 30px;
		line-height: 36px;
	}
	body.facilities_list_pages .stage_screen_btns a{
		width: 150px;
		height: 150px;
	}
	body.facilities_list_pages.workshops_page{
		.map_btn{
			display: none;
		}
		.stage_screen_btns a {
			width: 100px;
			height: 100px;
		}
		.hover_btn:before, a.hover_btn:before, a.hover_btn.active:before{
			-webkit-transform: rotate3d(0, 0, 1, -74deg) translate3d(0, -3em, 0);
			transform: rotate3d(0, 0, 1, -74deg) translate3d(0, -3em, 0);
		}
		.full_screen .td .home_screen{
			padding-bottom: 0;
		}
	}

	body.incentive_page .full_screen .td .home_screen{
		padding-bottom: 0;
	}

	body.incentive_page .stage_screen_btns span,
	body.facilities_list_pages .stage_screen_btns a .td,
	.stage_screen_btns span, .stage_screen_btns span:first-child, .stage_screen_btns span:last-child,
	body.partner_directory_page .stage_screen_btns span{
		width: auto;
		height: auto;
	}
	.facilities_list_pages{
		.hover_btn:before, a.hover_btn:before, a.hover_btn.active:before {
			-webkit-transform: rotate3d(0, 0, 1, -79deg) translate3d(0, -3em, 0);
			transform: rotate3d(0, 0, 1, -79deg) translate3d(0, -3em, 0);
		}
	}
	.tab_nav_small.hover_btn:before{
		-webkit-transform: rotate3d(0, 0, 1, -79deg) translate3d(0, -3em, 0);
		transform: rotate3d(0, 0, 1, -79deg) translate3d(0, -3em, 0);
	}
	.incentive{
		padding: 60px 20px 40px;
	}
	body.facilities_list_pages .stage_screen_btns a .table{
		height: 100%;
		width: auto;
	}
	body.incentive_page .stage_screen_btns .big{
		font-size: 28px;
		line-height: 1;
	}
	.contact h2.block_box_title{
		font-size: 46px;
		line-height: 50px;
	}
	.field {
		margin-bottom: 10px;
	}
	.landing_grids{
		.mobile_bg{
			display: block;
		}
		ul{
			&:after{
				content: '';
				display: block;
				clear: both;
			}
			li{
				width: 50%;
				height: auto;
				position: relative;
			}
		}
	}
	.main_nav_logo{
		top: 0;
		left: 18px;
	}
	.about_us_page{
		.landing_grids{
			ul li{
				width: 100%;
			}
		}
	}
	.work_shops.four-tile .work_shops_tile{
		width: 50%;
		.work_shop{
			height: 400px;
		}
		.title{
			text-align: center;
		}
	}
	.stages_page,
	.facilities_list_pages{
		.map_btn{
			display: none;
		}
	}
	.marine_page{
		.stage_screen_btns span, .stage_screen_btns span:first-child, .stage_screen_btns span:last-child{
			width: auto;
			height: auto;
		}
		.hover_btn:before, a.hover_btn:before, a.hover_btn.active:before {
			-webkit-transform: rotate3d(0, 0, 1, -77deg) translate3d(0, -3em, 0);
			transform: rotate3d(0, 0, 1, -77deg) translate3d(0, -3em, 0);
		}
		.fl_specs .img {
			padding: 20% 0;
			position: relative;
			&:before{
				content: '';
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background: #000;
				opacity: 0.2;
				z-index: 1;
			}
			.img_text{
				z-index: 10;
			}
		}
		.fl_specs .text {
			padding-left: 20px;
			padding-right: 20px;
		}
	}
	.block_2 .block_inner{
		padding-left: 20px;
		padding-right: 20px;
	}
	.block_2 ul li{
		margin-left: 0;
	}
	.specs_table{
		min-width: 800px;
	}
	.marine_page .fl_specs .text{
		overflow-x: scroll;
	}
	.specs_table td{
		font-size: 11px;
	}
	.specs_table th {
		font-size: 12px;
		line-height: 16px;
	}
	.map_btn{
		display: none;
	}
	.three_cols ul li{
		width: 100%;
		float: none;
		padding-bottom: 50%;
		height: auto;
	}
	.three_cols .text_box{
		font-size: 28px;
		line-height: 34px;
	}
	.three_cols .three_cols_subtitle{
		-webkit-transform: none;
		transform: none;
		left: 0;
		position: relative;
	}
	.vendors_tenants h2.block_box_title{
		font-size: 28px;
		line-height: 32px;
	}
	.vendors_tenants .text {
		padding: 0 0 50px;
	}
	.vendors_tenants ul{
		padding-bottom: 0;
	}
	body.partner_directory_page .full_screen .td_middle .home_screen{
		margin-bottom: 0;
	}
	.news_item_w2_h2,
	.news_item_w2,
	.news_item{
		width: 100%;
	}
	.news_item_fr{
		float: none;
	}
	.news_item{
		height: auto;
		.text{
			height: auto;
			position: relative;
			padding: 15px;
			width: 100%;
		}
		.img{
			position: relative;
			padding-bottom: 50%;
			height: auto;
			width: 100%;
		}
	}
	.news_item_ml {
		margin-left: 0;
	}
	.news_item_w2_h2 .img:before,
	.news_item_w2 .img:before,
	.news_item .img:before{
		top: auto;
		bottom: 0;
		right: 0;
		width: 100%;
		height: 15px;
		background: url(../images/news_arr_up.png) no-repeat 50% 50%;
	}
	.load_more a.load_more_btn{
		padding: 14px 72px;
	}
	/* Workshop */
	.flexslider .work_shop .text{
		width: 100%;
		position: relative;
		height: auto;
		padding: 40px 64px 40px 78px;
	}
	.flexslider .work_shop .title{
		position: relative;
		width: 100%;
		height: auto;
		text-align: center;
		margin-bottom: 50px;
		padding: 50px 0;
	}
	.work_shop{
		height: auto;
	}
	.work_shop .text:after{
		background: url('../images/work_shop_arr_hor.png') no-repeat center;
		height: 72px;
		width: 100%;
		left: 0;
		right: 0;
		top: -72px;
	}
	.work_shops_close{
		top: 223px;
		right: 27px;
	}
	.work_shops .flex-direction-nav a.flex-next{
		right: 20px;
	}
	.work_shops .flex-direction-nav a.flex-prev{
		right: 75px;
	}
	.work_shops .flex-direction-nav a.flex-next,
	.work_shops .flex-direction-nav a.flex-prev{
		bottom: 0;
	}
	.stage_page{
		.menu_btn span{
			display: block;
		}
		.menu_btn [class^="icon-"], .menu_btn [class*=" icon-"]{
			font-size: 32px;
		}
		.header .menu_btn {
			top: 13px;
			right: 30px;
		}
	}
	.specs_list .label {
		width: 160px;
	}
	.spec {
		margin-left: 173px;
	}
	/* Main menu */
	.main_nav_list h3{
		position: relative;
		span.menu-expand{
			background: url('../images/sub-menu-arr2.png') no-repeat;
			cursor: pointer;
			display: block;
			position: absolute;
			top: 9px;
			right: 0;
			z-index: 100;
			width: 24px;
			height: 27px;
			background-size: auto;
			background-position: center;
		}
	}
	.main_nav_list{
		.middle,
		.right{
			h3{
				border-bottom: 1px solid #d3d3d3;
			}
			ul{
				padding-top: 19px;
				display: none;
				li{
					border-bottom: 1px solid #d3d3d3;
					margin: 0 20px 12px 40px;
					&:first-child{
						border-top: none;
					}
					&:last-child{
						border-bottom: none;
					}
					a{
						color: #505050;
						font-size: 18px;
						font-family: 'avenir_lt_55_romanroman';
						line-height: 28px;
						display: block;
						padding: 0;
						position: relative;
					}
				}
			}
			&.active{
				h3{
					a{
						color: #de302f;
					}
				}
			}
			&.open{
				ul{
					display: block;
				}
				h3{
					span.menu-expand{
						-webkit-transform: rotate(180deg);
						transform: rotate(180deg);
					}
				}
			}
		}
	}
	.backlots_page{
		.full_screen .td .home_screen{
			padding-bottom: 0;
		}
		.stage_screen_btns{
			display: none;
		}
	}
	//.post_production_page{
	//	.stage_screen_btns{
	//		display: none;
	//	}
	//}
	.press_detail_inner{
		padding-left: 20px;
		padding-right: 20px;
	}
	h1.detail_title{
		font-size: 30px;
		line-height: 36px;
	}
	.content{
		font-size: 16px;
		line-height: 28px;
		h3{
			font-size: 22px;
			line-height: 30px;
		}
	}
	.round_share{
		-webkit-transition: all .4s cubic-bezier(.19,1,.22,1);
		transition: all .4s cubic-bezier(.19,1,.22,1);
		&:hover{
			-webkit-transition: all .4s cubic-bezier(.19,1,.22,1);
			transition: all .4s cubic-bezier(.19,1,.22,1);
			right: 59px;
		}
	}
	.service_page{
		.full_screen .td .home_screen{
			padding-bottom: 0;
		}
		.sv_icons{
			padding-top: 46px;
		}
	}
	.red_header_fixed.service_page,
	.service_page{
		.four_grids {
			padding-top: 0;
		}
		.landing_grids ul li,
		.four_grids .landing_grids ul li{
			padding-bottom: 0;
		}
	}
	.line_title{
		font-size: 22px;
	}
	.pre_production_inner ul li{
		margin-bottom: 50px;
	}
	.pre_production_inner {
		padding: 41px 0 0 0;
	}
	.pre_production{
		padding: 85px 0 30px 0;
	}
	.sec_full_screen{
		margin-top: 0;
	}
	.pre_production_inner ul li{
		width: 100%
	}
	.sv_icons{
		font-size: 18px;
		line-height: 20px;
		ul li{
			width: 173px;
		}
	}
	.stage_list_slider{
		display: none;
	}
	body.stages_page .home_screen h2 {
		font-size: 52px;
		line-height: 52px;
		padding: 0 0 15px;
		margin: 0 0 15px;
	}
	.stages_page .home_screen{
		padding-bottom: 0;
	}
	.stages_page{
		.td_bottom{
			vertical-align: middle;
		}
	}
	.stage_screen_btns a{
		width: 100px;
		height: 100px;
		padding: 41px 10px 19px;
		margin-bottom: 26px;
		&.active{
			border-color: #de302f;
			color: #de302f;
		}
	}
	.stage_screen_btns span.animate_up, .stage_screen_btns span.animate_up{
		width: 30%;
		margin: 0 auto;
	}
	.prod_office{
		.stage_screen_btns span.animate_up, .stage_screen_btns span.animate_up{
			width: auto;
		}
	}
	.post_production_page{
		.stage_screen_btns span.animate_up, .stage_screen_btns span.animate_up{
			width: 49%;
			margin: 0;
		}

	}
	body.facilities_list_pages.post_production_page .stage_screen_btns a.tab_nav_small {
		font-size: 10px;
		line-height: 18px;
	}
	/* Stages */
	.stages_page_html{
		overflow: auto;
		height: 100%;
		body.stages_page .wrapper{
			height: 100%;
			position: static;
			.slide.slide_active{
				height: 100%;
			}
		}
		body{
			position: static;
			overflow: auto;
			//height: 100%;
		}
	}
	body.stages_page.red_header_fixed .header .logo {
		img{
			display: none;
			&.logo_red{
				display: block;
			}
		}

	}
	body.stages_page{
		.header.red_header_static{
			position: fixed;
			img{
				display: none;
				&.logo_red{
					display: block;
				}
			}
		}
	}
	body.stages_page .wrapper .header.s {
		 display: none;
	 }
	body.stages_page.red_header_fixed{
		.wrapper .header.s{
			display: none;
		}
		.header.red_header_static{
			position: fixed;
		}
		//.mobile_stages_slider_nav{
		//	top: 9px;
		//}
		.mobile_stages_slider{
			padding-top: 10px;
		}
	}
	body.stages_page .mobile_stages_slider_nav{
		top: 9px;
	}
	body.stages_page{

		.header.red_header{
			display: none;
			&.red_header_static{
				display: block;
				img{
					display: none;
					&.logo_red{
						display: block;
					}
				}
			}
		}
	}
	.red_header{
		.mobile_stages_slider_nav{
			display: none;
		}
		&.red_header_static{
			.mobile_stages_slider_nav{
				display: block;
			}
		}
	}

	.block_box_title_wrapper {
		padding: 50px 0;
	}
	.block_box_title_wrapper h2.block_box_title{
		text-align: center;
		&:before{
			left: 50%;
			margin-left: -10px;
		}
	}
	.vendors_tenants ul li{
		width: 46%;
	}
	.vendors_tenants ul li img {
		max-width: 100%;
	}

	.group_property_ul ul li{
		width: 44%;
	}
	.it_service_page{
		.full_screen .header{
			position: fixed;
		}
		.header.red_header{
			display: none;
		}
	}
	body.facilities_list_pages.press_center_page .stage_screen_btns {
		padding-top: 50px;
	}
	.tab_nav ul li.news_a:before{
		top: 48px;
	}
	.stages_page .stage_screen_btns a:hover .stage_btn_hover{
		display: none;
	}
	.post_production_page{
		.sec_rounds{
			display: none;
		}
		.full_screen{
			padding: 20% 0 10%;
		}
	}
	//html, body{
	//	overflow: visible !important;
	//}
	.chairman_dream{
		background: none !important;
		.chairman_dream_mobile_bg{
			img{
				width: 100%;
			}
		}
	}
	.stages_page{
		.wrapper{
			.slide>.table{
				padding: 200px 0;
			}
		}
	}
}
@media only screen and (max-width: 992px){
	.ss_cols{
		max-width: 80%;
	}
	.four_grids .landing_grids h2{
		font-size: 26px;
		line-height: 30px;
	}
	.four_grids .landing_grids ul li .txt{
		font-size: 18px;
		line-height: 26px;
	}
}
@media only screen and (max-width: 780px){
	.sv_icons ul li:before{
		display: none;
	}
	.sv_icons ul li {
		width: 49%;
		margin-bottom: 25px;
	}
}
@media only screen and (max-width: 640px){
	.stages_page{
		.wrapper{
			.slide>.table{
				padding: 100px 0;
			}
		}
	}
	body,
	body.facilities_list_pages .home_screen{
		font-size: 16px;
		line-height: 1.4;
	}
	.stage_screen_btns_wrapper{
		.stage_screen_btns{
			display: none;
		}
	}
	.red_header h2.block_box_title {
		font-size: 18px;
	}
	.block_2 ul li {
		width: 100%;
		float: none;
	}
	.tab_nav ul li.news_a:before {
		top: 36px;
	}
	.contact h2.block_box_title {
		font-size: 26px;
		line-height: 28px;
	}
	body.facilities_list_pages.service_page{
		.home_screen{
			h2{
				margin-top: 56px;
			}
		}
		.sv_icons{
			padding-top: 15px;
		}
	}
	.stage_index{
		width: auto;
		margin-right: 24px;
		font-size: 18px;
	}
	.travel_times{
		background-image: url('../images/mobile/map-640.jpg');
	}
	.travel_times h2 {
		margin: 0 0 246px;
	}
	.press_center_page{
		.td_bottom{
			vertical-align: middle;
		}
	}
	.round_share:hover{
		right: 0;
	}
	.round_share:hover a.round_wechat,
	.round_share:hover a.round_weibo,
	.round_share:hover a.round_twitter,
	.round_share:hover a.round_facebook{
		top: 0;
		left: 0;
	}
	.specs_list ul li {
		padding-left: 0 !important;
	}
	.group_property_ul ul li{
		padding-bottom: 60px;
	}
	body.stages_page .home_screen .light_stxt{
		font-size: 16px;
		line-height: 20px;
	}
	.stage_list a .icon-5{
		top: 8px;
	}
	.stage_list a{
		font-size: 16px;
		padding: 12px 54px 12px 28px;
	}
	body.stages_page .home_screen h2{
		font-size: 28px;
		line-height: 32px;
	}
	.stage_screen_btns a {
		width: 80px;
		height: 80px;
		padding:  32px 10px 19px;
		margin-bottom: 26px;
	}
	.main_nav_logo{
		left: 20px;
		top: 0;
		max-width: 32px;
	}
	.sv_icons .icon{
		width: 65px;
		height: 65px;
		background-size: 48% !important;
	}
	.sv_icons {
		font-size: 12px;
		line-height: 14px;
	}
	.red_header_fixed.service_page{
		.four_grids {
			padding-top: 0;
		}
		.landing_grids ul li{
			padding-bottom: 0;
		}
	}
	.content{
		font-size: 14px;
		line-height: 24px;
		h3{
			font-size: 18px;
			line-height: 26px;
		}
	}
	.main_nav_close{
		right: 20px;
		top: 18px;
	}
	.main_nav_header{
		height: 58px;
	}

	.main_nav_close .icon-59{
		font-size: 20px;
	}
	.search_form input[type="text"]{
		border-bottom: none;
		padding: 1px 20px;
		line-height: 41px;
		font-size: 12px;
	}
	.search_form .icon-60{
		font-size: 16px;
		top: 13px;
		right: 24px;
	}


	.main_nav_list ul li,
	.main_nav_list .left li{
		position: relative;
		border-bottom: 1px solid #d3d3d3;
		margin: 0 20px;
		padding: 0;
		&:first-child{
			border-top: 1px solid #d3d3d3;
		}
	}
	.main_nav_list .left li a,
	.main_nav_inner h3,
	.main_nav_list ul li a,
	.main_nav_inner h3 a,
	.main_nav_list .middle ul li a, .main_nav_list .right ul li a{
		display: block;
		padding: 6px 0;
		font-size: 16px;
		font-family: 'avenir_lt_55_romanroman';
	}
	.main_nav_list .left ul ul li a{
		font-size: 14px;
	}
	.team_detail .text{
		font-size: 14px;
		line-height: 20px;
	}
	.main_nav_list .left li.has-submenu span.menu-expand,
	.main_nav_list h3 span.menu-expand{
		top: 9px;
		right: -5px;
		width: 33px;
		height: 26px;
		background-size: auto;
		background-position: center;
	}

	.lang_switcher{
		padding: 25px 0;
	}
	.lang_switcher, .lang_switcher a{
		font-size: 10px;
	}
	/**/
	.about_qd .text{
		font-size: 14px;
		line-height: 18px;
	}
	.about_cols h3{
		font-size: 15px;
		padding-bottom: 15px;
	}
	.about_cols ul{
		margin-bottom: 20px;
	}
	.about_cols ul li{
		font-size: 14px;
		padding-left: 15px;
		line-height: 20px;
	}
	.incentive_page{
		.text_box{
			br{
				display: none;
			}
		}
	}
	.backlots_page,
	.marine_page,
	.prod_office{
		.stages_home_screen{
			br{
				display: none;
			}
		}
	}
	.marine_page .hover_btn{
		br{
			display: block;
		}
	}
	body.facilities_list_pages.service_page .home_screen h2 {
		font-size: 25px;
		line-height: 28px;
	}
	.prod_office{
		.stage_screen_btns{
			span{
				line-height: 1.5;
				br{
					display: block;
				}
			}
		}
	}
	.red_cols ul li{
		padding-left: 20px;
		padding-right: 20px;
	}
	.red_cols_inner {
		width: auto;
		float: none;
	}
	body.facilities_list_pages.incentive_page .stage_screen_btns {
		padding-top: 5px;
	}
	.surroundings{
		h2{
			font-size: 24px;
			line-height: 26px;
			padding: 0 0 16px;
			margin: 0 0 23px;
		}
		.text{
			padding-top: 40px;
			padding-bottom: 20px;
			.txt{
				font-size: 14px;
				line-height: 18px;
				padding: 0 15px;
			}
		}
		.btns{
			padding-top: 20px;
			a{
				border-width: 1px;
				padding: 2px 10px 1px;
				font-size: 12px;
			}
		}
	}
	.historical_bg{
		padding-top: 40px;
		h2{
			font-size: 18px;
			line-height: 20px;
			padding: 0 0 16px;
			margin: 0 0 16px;
		}
		strong{
			font-size: 14px;
			line-height: 18px;
		}
		.hbg_slider{
			font-size: 14px;
			line-height: 18px;
		}
		p{
			padding-bottom: 20px;
		}
	}
	.hbg_slider_btns{
		font-size: 18px;
		ul li{
			margin: 0 29px 14px;
		}
	}
	.seasons_climate{
		padding: 40px 20px 40px 20px;
		font-size: 14px;
		line-height: 18px;
		h2{
			padding: 0 0 16px;
			margin: 0 0 16px;
			font-size: 24px;
			line-height: 26px;
		}
		.img{

		}
	}
	.travel_times{
		h2{
			font-size: 18px;
			line-height: 20px;
		}
	}
	.travel_col{
		font-size: 14px;
	}
	.travel_cols .red_arr{
		background-size: cover;
		width: 9px;
		height: 10px;
	}
	.travel_cols h3{
		font-size: 14px;
		padding: 0 0 10px;
		margin: 0 0 10px;
	}
	.lifestyle_destination{
		padding: 40px 20px 40px;
		h2{
			font-size: 24px;
			line-height: 26px;
			padding: 0 0 16px;
			margin: 0 0 16px;
		}
		.txt{
			font-size: 14px;
			line-height: 18px;
		}
	}
	.button_box, .button_box a{
		font-size: 12px;
		line-height: 18px;
	}

	body.the_studios2_page{

		.flex-direction-nav a.flex-next,
		.flex-direction-nav a.flex-prev{
			width: 11px;
			height: 21px;
			background-size: cover !important;
			margin-top: 8px;
		}
	}
	.chairman_dream, .quote_position, .quote_name,
	.wanda_studios .round_text, .wanda_studios .text,
	.team_detail .position,
	.film_with_us,
	.block_box{
		font-size: 14px;
		line-height: 18px;
	}
	.team_detail .name{
		font-size: 15px;
		line-height: 15px;
	}
	.film_with_us h3{
		font-size: 16px;
		line-height: 18px;
	}
	.round_text_inner, .wanda_studios .text_inner {
		padding: 20px 21px;
	}
	.film_with_us h3 .td {
		line-height: 22px;
	}
	/* Group */
	.fl_specs .img h2, .block_box_title_wrapper h2.block_box_title {
		font-size: 24px;
		line-height: 26px;
	}
	.group_properties h2,
	.holdings h2.block_box_title{
		font-size: 18px;
		line-height: 22px;
	}
	.holdings h2.block_box_title{
		margin-bottom: 20px;
	}
	.vendors_tenants{
		padding: 40px 0;
	}
	.group_property_ul ul {
		padding: 20px 0 0 0;
	}
	.group_property_ul ul li {
		margin: 0 10px 20px;
		width: 40%;
	}
	.specs{
		font-size: 14px;
		line-height: 18px;
	}
	.specs_list ul li{
		padding: 6px 0 6px 15px;
	}
	.specs_list .dot{
		top: 11px;
	}
	.four_grids{
		.landing_grids{
			ul{
				li{
					width: 100%;
					float: none;
					padding-bottom: 100%;
					.txt{
						font-size: 14px;
						line-height: 18px;
					}
				}
			}
			h2{
				font-size: 22px;
			}
		}
	}

	.incentive h2.block_box_title{
		font-size: 24px;
		line-height: 28px;
	}
	.incentive{
		padding-top: 70px;
	}
	.content{
		font-size: 18px;
		line-height: 24px;
		text-align: left;
		p{
			padding-bottom: 20px;
		}
		h3{
			font-size: 20px;
			line-height: 24px;
		}
	}
	.incentive_page{
		.tab_nav, .tab_nav a{
			font-size: 9px;
		}
	}
	/* Tab nav*/
	.tab_nav{
		ul{
			li.active{
				a:after{
					background: url('../images/mobile/tab-nav-small-arrow.png') no-repeat;
					width: 16px;
					height: 8px;
					margin-top: -5px;
					-webkit-transform: none;
					transform: none;
				}
			}
		}
	}
	body.incentive_page .stage_screen_btns span{
		margin: 0 18px;
	}
	.tab_nav_small.hover_btn:before {
		-webkit-transform: rotate3d(0, 0, 1, -77deg) translate3d(0, -3em, 0);
		transform: rotate3d(0, 0, 1, -77deg) translate3d(0, -3em, 0);
	}
	.contact,
	.contact_info{
		font-size: 18px;
		line-height: 1.6;
	}
	.mobile_contact_form,
	.field input[type="text"],
	.field input[type="email"],
	.field input[type="tel"],
	.field input[type="password"],
	.field input[type="file"],
	.field textarea,
	.field select,
	.field .customSelect,
	.field .NFI-wrapper,
	.field label,
	.field textarea {
		font-size: 12px;
		line-height: 16px;
	}
	input[type="submit"],
	button,
	.contact_form input[type="submit"] {
		font-size: 11px;
		line-height: 17px;
		height: 31px;
	}
	.field {
		margin-bottom: 0;
	}

	.landing_grids{
		ul{
			li{
				width: 100%;
			}
		}
	}
	.block {
		font-size: 14px;
		line-height: 20px;
	}
	.block_2 {
		font-size: 14px;
		line-height: 18px;
		padding: 0 20px;
	}
	.marine_page{
		.fl_specs .text {
			padding-left: 10px;
			padding-right: 10px;
		}
	}
	body.facilities_list_pages .stage_screen_btns span {
		margin: 10px 10px;
	}
	body.facilities_list_pages.workshops_page .stage_screen_btns span{
		margin: 18px;
	}
	.full_screen .td .home_screen, .press_center_page .td_bottom .home_screen {
		padding-bottom: 0;
	}
	.tab_nav, .tab_nav a {
		font-size: 12px;
	}
	.three_cols .text_box{
		font-size: 22px;
		line-height: 26px;
	}
	.content ul li, .content ol ol li, .content ol ul li, .content ul ol li, .content ul ul li{
		background-position: 0 4px;
	}
	.vendors_tenants h2.block_box_title{
		font-size: 24px;
		line-height: 28px;
	}
	.load_more a.load_more_btn{
		padding: 10px 50px;
		font-size: 17px;
		line-height: 20px;
	}

	/* Workshop */
	.work_shops.four-tile .work_shops_tile{
		width: 100%;
	}
	.flexslider .work_shop .text{
		padding: 30px 58px 30px 20px;
	}
	.work_shop .text ul li {
		padding: 0 0 10px 28px;
		background-position:  0 5px;
	}
	.work_shops_close{
		.icon-59{
			font-size: 25px;
		}
	}
	.work_shop .title h2 {
		font-size: 20px;
		line-height: 28px;
	}
	.work_shop{
		font-size: 14px;
		line-height: 18px;
	}
	.specs_list .label{
		float: none;
		width: auto;
	}
	.spec{
		margin-top: 10px;
		margin-left: 0;
	}
	.specs_list ul li {
		padding: 10px 0 10px 15px;
	}
	.specs.mobile_specs{
		margin-bottom: 30px;
	}
	body.facilities_list_pages.post_production_page .home_screen h2 {
		font-size: 24px;
		line-height: 35px;
	}
	.detail_title_box{
		padding-right: 0;
	}
	.round_share{
		margin: -75px -10px 0 0;
		width: 100%;
		padding: 0px 0px 0 0;
		height: auto;
		text-align: right;
	}
	.round_share a.round_share_btn{
		display: none;
	}
	.round_share a.round_wechat, .round_share a.round_weibo, .round_share a.round_twitter, .round_share a.round_facebook{
		position: relative;
		opacity: 1;
		display: inline-block;
		margin: 0 10px;
	}
	h1.detail_title {
		font-size: 22px;
		line-height: 28px;
	}
	.detail_meta{
		padding: 0 0 26px;
	}
	.group_properties{
		font-size: 15px;
		line-height: 23px;
	}
	.group_property_ul ul li .ico {
		height: 127px;
		background-size: cover !important;
	}
	.stage_screen_btns span.animate_up, .stage_screen_btns span.animate_up {
		width: 25%;
		margin: 0 10px;
	}
	.prod_office,
	body.facilities_list_pages.workshops_page{
		.stage_screen_btns span.animate_up, .stage_screen_btns span.animate_up{
			width: 41%;
			margin: 0 1%;
		}
	}
	.press_center_page .stage_screen_btns span.animate_up, .stage_screen_btns span.animate_up{
		width: 40%;
	}
	body.facilities_list_pages.workshops_page .home_screen h2{
		margin-top: 81px;
	}
	.news {
		padding: 0 20px 60px;
	}

	.mobile_text{
		font-size: 14px;
		line-height: 1.2;
	}
	.red_header_fixed .four_grids{
		padding-top: 0;
	}
}
@media only screen and (max-width: 480px){
	.stage_pic{
		width: 274px;
		height: 165px;
		padding: 8px 19px 20px 16px;
		box-sizing: border-box;
		h2{
			font-size: 16px;
			line-height: 24px;
		}
		.view_btn{
			font-size: 14px;
			padding: 5px 50px;
		}
	}
	.round_share{
		margin: -69px -10px 0 0;
		width: 100%;
		padding: 0px 0px 0 0;
		height: auto;
		text-align: right;
	}
	.round_share a.round_wechat, .round_share a.round_weibo, .round_share a.round_twitter, .round_share a.round_facebook{
		margin: 0 3px;
		width: 38px;
		height: 38px;
	}
	.back_btn, a.back_btn{
		font-size: 18px;
		padding: 0 0 0 43px;
	}
}
@media only screen and (max-height: 500px) and (orientation: landscape){
	.full_screen{
		min-height: 600px;
	}
	.landing_grids ul li{
		height: 300px;
	}
	.four_grids .landing_grids ul li{
		padding-bottom: 50%;
	}
}
@media only screen and (max-height: 600px) and (orientation: landscape){
	.full_screen{
		min-height: 700px;
	}
	body.red_header_fixed .tabs {
		padding-top: 0;
	}
}
@media only screen and (max-width: 480px){
	body.incentive_page .stage_screen_btns span{
		margin: 0 7px;
	}
	body.facilities_list_pages .stage_screen_btns a {
		width: 110px;
		height: 110px;
		font-size: 10px;
	}
	body.incentive_page .stage_screen_btns .big{
		font-size: 14px;
	}
}


@media only screen and (min-width: 1025px) {
	.vendors_tenants ul{
		display: table;
		width: 100%;
	}
	.vendors_tenants ul li{
		vertical-align: middle;
		display: table-cell;
	}
}
@media only screen and (max-width: 1025px){

	.header.mobile_white{
		background: #fff;
		.logo,
		.menu_btn{
			position: absolute;
		}
		.menu_btn{
			background-image: url(../images/menu_btn_red.png);
		}
		img{
			display: none !important;
		}
		.logo_red{
			display: block !important;
		}
	}
}
@media only screen and (max-height: 768px) and (orientation: landscape) {
	.stages_page_html body.stages_page .wrapper .slide.slide_active {
		min-height: 768px;
	}
}
@media only screen and (max-width: 767px){
	.hws ul li {
		width: auto;
		float: none;
	}
}
	//@media screen and (orientation:landscape) and (max-device-width: 900px) {
	//	html{
	//		-webkit-transform: rotate(-90deg);
	//		-moz-transform: rotate(-90deg);
	//		-ms-transform: rotate(-90deg);
	//		-o-transform: rotate(-90deg);
	//		transform: rotate(-90deg);
	//		-webkit-transform-origin: left top;
	//		-moz-transform-origin: left top;
	//		-ms-transform-origin: left top;
	//		-o-transform-origin: left top;
	//		transform-origin: left top;
	//		width: 320px; /*Разрешение экрана iPhone*/
	//		position: absolute;
	//		top: 100%;
	//		left: 0
	//	}
	//}

@media screen and (min-width: 1024px){
	.red_header_static{
		display: none;
	}
}

@media only screen and (max-width: 1024px) and (min-width: 640px){
	.light{
		line-height: 40px;
		font-size: 23px
	}
	.mobile_text{
		font-size: 18px;
		line-height: 24px;
	}
	.lr_line:before, .lr_line:after{
		top: 18px;
	}
	.btn, a.btn{
		line-height: 18px;
		font-size: 14px;
	}
	.mobile_more, .mobile_more a{
		font-size: 14px;
		line-height: 16px;
	}
	.mobile_screen_tile{
		margin: -174px 0 0;
		height: 350px;
	}
	.three_cols .text{
		font-size: 18px;
		line-height: 24px;
	}
	.hws .text{
		font-size: 18px;
		line-height: 24px;
	}
	.landing_grids ul, .btn_medium, a.btn_medium {
		font-size: 18px;
		line-height: 24px;
	}
	.landing_grids_inner{
		.btn_medium, a.btn_medium {
			border-width: 1px;
			padding: 11px 50px;
			margin-top: 12px;
		}
	}
	.landing_grids h2 {
		font-size: 35px;
		line-height: 44px;
		padding-bottom: 7px;
	}
	.mobile_foot_widgets h3{
		font-size: 24px;
		line-height: 32px;
	}
	body.facilities_list_pages .stage_screen_btns a {
		font-size: 15px;
		line-height: 18px;
	}
}
@media only screen and (max-width: 360px){
	.marine_page{
		.stages_home_screen{
			margin-top: 50px;
		}
	}
	.home{
		.mobile_text{
			p{
				padding-bottom: 10px;
			}
		}
		.btn, a.btn{
			font-size: 12px;
		}
		.mobile_more {
			padding-top: 10px;
		}
	}
	.press_center_page{
		.home_screen{
			margin-top: 57px;
		}
	}
	.news .category{
		margin: 0 0 7px;
	}
	//.mobile_stages_slider_nav a {
	//	padding: 6px 8px 8px 8px;
	//}
	.stages_page{
		.wrapper{
			.slide>.table{
				padding: 70px 0 50px;
				.stage_screen_btns a {
					width: 70px;
					height: 70px;
					padding: 26px 10px 19px;
					margin-bottom: 26px;
				}
			}

		}
	}
	.stages_page .wrapper .slide > .table .stage_screen_btns a{
		margin-bottom: 14px;
	}
}
.incentive_page{
	.full_screen .td .home_screen{
		margin-top: 62px;
	}
}